<div class="main actor-index">
      <div class="container">
        <div class="row">
					<% @actors.each do |actor| %>
          <div class="actor col-xs-2">
              
             <IMG SRC"<%=actor.image%>"/>
            <h3> <%=actor.first_name%> <%=actor.last_name%> </h3>
            <p> <%=actor.bio%> </p>
          <p>    <%= link_to "Learn more", actor_path(actor) %></p>
    </div>
          </div>
          <% end %>
          
      </div>
</div>

